body{
    background-image: url('./brett-zeck-eyfMgGvo9PA-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

